 <!DOCTYPE html>
<html>
    <head>
        <title>Ingredientes</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="/js/app.js"></script>
    </head>

    <body style="background-color:#eecc77">
        <div id="header"></div>
        <div class="flex-container">
            {{#each ingredientes}}
                <div>
                    <p>{{nombre}}</p>
                    {{#if colorString}}
                        <img src="/images/ingredientes/vaso.png" 
                            height="50" style='background-color: {{colorString}}' />
                    {{else}}
                        <img src={{path}} height="50" />
                    {{/if}}
                </div>
            {{/each}}
        </div>
        <div id="footer"></div>
    </body>

</html> 