 <!DOCTYPE html>
<html>
<head>
<title>Ingredientes</title>
</head>

<body style="background-color:aqua">
    {{#each ingredientes}}
        {{#if colorString}}
            <img src="/images/ingredientes/vaso.png" 
                width="100" height="100" style='background-color: {{colorString}}' />
        {{else}}
            <img src={{path}} width="100" height="100" />
        {{/if}}
        <br/>
    {{/each}}
</body>

</html> 